.git
.gitignore
.venv
.aws-sam
frontend/
tests/
events/
db/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.env
.env.*
!.env.example
README.md
template.yaml
samconfig.toml
*.ipynb
!src/sports/football/nfl/expected_points/notebook.ipynb
!src/sports/football/cfb/expected_points/notebook.ipynb
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
