@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(24 32 43);
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(55, 65, 81, 0.8) rgba(31, 41, 55, 0.5);
  }
  :has(> table) {
    overscroll-behavior: none;
  }
}
